<div class="wrapper">
  <div>
    <!-- widget 1 -->
    <canvas height="400" baseChart 
      [datasets]="chart1.datasets" 
      [labels]="chart1.labels" 
      [options]="chart1.options" 
      [colors]="chart1.colors"
      [legend]="chart1.legend" 
      [chartType]="chart1.chartType" 
      (chartHover)="chartHovered($event)" 
      (chartClick)="chartClicked($event)"
    ></canvas>
  </div>
  <div>
    <!-- widget 2 -->
    <canvas height="400" baseChart 
      [datasets]="chart2.datasets" 
      [labels]="chart2.labels" 
      [options]="chart2.options" 
      [colors]="chart2.colors"
      [legend]="chart2.legend" 
      [chartType]="chart2.chartType" 
      (chartHover)="chartHovered($event)" 
      (chartClick)="chartClicked($event)"
    ></canvas>
  </div>
  <!-- etc. -->
</div>


<style>
  .wrapper{
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(500px, 1fr) );
    gap: 20px;
  }
</style>